<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    {# Run `composer require symfony/webpack-encore-bundle` to start using
    Symfony UX #} {% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/mainpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% endblock %} {% block javascripts %}
    <script defer src="{{ asset('js/form.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <svg style="display: none">
      <defs>
        <g id="home">
          <path
            fill="#90A4AE"
            d="M42,48H6c-3.3,0-6-2.7-6-6V6c0-3.3,2.7-6,6-6h36c3.3,0,6,2.7,6,6v36C48,45.3,45.3,48,42,48z"
          />
          <path
            fill="#212121"
            d="M20.8,35.5v-9.6h6.4v9.6h8V22.7H40L24,8.3L8,22.7h4.8v12.8H20.8z"
          />
        </g>

        <g id="search">
          <path
            fill="#90A4AE"
            d="M22.9,20.1h-1.5l-0.5-0.5c1.8-2.1,2.9-4.8,2.9-7.7C23.8,5.3,18.5,0,11.9,0S0,5.3,0,11.9s5.3,11.9,11.9,11.9
	    c3,0,5.7-1.1,7.7-2.9l0.5,0.5v1.4l9.1,9.1l2.7-2.7L22.9,20.1z M11.9,20.1c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2
	    S16.4,20.1,11.9,20.1z"
          />
        </g>

        <g id="map">
          <path
            fill="#90A4AE"
            d="M16,14.2c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8S17,14.2,16,14.2z M16,0
	    C7.2,0,0,7.2,0,16c0,8.8,7.2,16,16,16s16-7.2,16-16C32,7.2,24.8,0,16,0z M19.5,19.5L6.4,25.6l6.1-13.1l13.1-6.1L19.5,19.5z"
          />
        </g>

        <g id="planner">
          <path
            fill="#90A4AE"
            d="M28.4,3.6h-1.8V0h-3.6v3.6H8.9V0H5.3v3.6H3.6C1.6,3.6,0,5.1,0,7.1L0,32c0,2,1.6,3.6,3.6,3.6h24.9c2,0,3.6-1.6,3.6-3.6V7.1C32,5.1,30.4,3.6,28.4,3.6z M28.4,32H3.6V12.4h24.9V32z M7.1,16H16v8.9H7.1V16z"
          />
        </g>
      </defs>
    </svg>

    <div class="nav-div">
      <nav class="nav__cont" style="display: flex; flex-direction: column">
        <ul class="nav">
          <li class="nav__items">
            <svg
              fill="#90a4ae"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376V479.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"
              />
            </svg>
            <a href="send-request">Send</a>
          </li>
          <li class="nav__items">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                fill="#90a4ae"
                d="M0 64C0 28.65 28.65 0 64 0H229.5C246.5 0 262.7 6.743 274.7 18.75L365.3 109.3C377.3 121.3 384 137.5 384 154.5V448C384 483.3 355.3 512 320 512H64C28.65 512 0 483.3 0 448V64zM336 448V160H256C238.3 160 224 145.7 224 128V48H64C55.16 48 48 55.16 48 64V448C48 456.8 55.16 464 64 464H320C328.8 464 336 456.8 336 448z"
              ></path>
            </svg>
            <a href="requests">Requests</a>
          </li>
          <li class="nav__items">
            <svg
              fill="#90a4ae"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"
              />
            </svg>
            <a href="login">Logout</a>
          </li>
        </ul>
      </nav>
    </div>

    <main>
      <script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <div class="wrapper">
        <div class="header">
          <ul>
            <li class="active form_1_progessbar">
              <div>
                <p>1</p>
              </div>
            </li>
            <li class="form_2_progessbar">
              <div>
                <p>2</p>
              </div>
            </li>
            <li class="form_3_progessbar">
              <div>
                <p>3</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="form_wrap">
          <div class="form_1 data_info">
            <h2>Signup Info</h2>
            <form>
              <div class="form_container">
                <div class="input_wrap">
                  <label for="email">Email Address</label>
                  <input
                    type="text"
                    name="Email Address"
                    class="input"
                    id="email"
                  />
                </div>
                <div class="input_wrap">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="input"
                    id="password"
                  />
                </div>
                <div class="input_wrap">
                  <label for="confirm_password">Confirm Password</label>
                  <input
                    type="password"
                    name="confirm password"
                    class="input"
                    id="confirm_password"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="form_2 data_info" style="display: none">
            <h2>Personal Info</h2>
            <form>
              <div class="form_container">
                <div class="input_wrap">
                  <label for="user_name">User Name</label>
                  <input
                    type="text"
                    name="User Name"
                    class="input"
                    id="user_name"
                  />
                </div>
                <div class="input_wrap">
                  <label for="first_name">First Name</label>
                  <input
                    type="text"
                    name="First Name"
                    class="input"
                    id="first_name"
                  />
                </div>
                <div class="input_wrap">
                  <label for="last_name">Last Name</label>
                  <input
                    type="text"
                    name="Last Name"
                    class="input"
                    id="last_name"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="form_3 data_info" style="display: none">
            <h2>Professional Info</h2>
            <form>
              <div class="form_container">
                <div class="input_wrap">
                  <label for="company">Current Company</label>
                  <input
                    type="text"
                    name="Current Company"
                    class="input"
                    id="company"
                  />
                </div>
                <div class="input_wrap">
                  <label for="experience">Total Experience</label>
                  <input
                    type="text"
                    name="Total Experience"
                    class="input"
                    id="experience"
                  />
                </div>
                <div class="input_wrap">
                  <label for="designation">Designation</label>
                  <input
                    type="text"
                    name="Designation"
                    class="input"
                    id="designation"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="btns_wrap">
          <div class="common_btns form_1_btns">
            <button type="button" class="btn_next">
              Next
              <span class="icon"
                ><ion-icon name="arrow-forward-sharp"></ion-icon
              ></span>
            </button>
          </div>
          <div class="common_btns form_2_btns" style="display: none">
            <button type="button" class="btn_back">
              <span class="icon"
                ><ion-icon name="arrow-back-sharp"></ion-icon></span
              >Back
            </button>
            <button type="button" class="btn_next">
              Next
              <span class="icon"
                ><ion-icon name="arrow-forward-sharp"></ion-icon
              ></span>
            </button>
          </div>
          <div class="common_btns form_3_btns" style="display: none">
            <button type="button" class="btn_back">
              <span class="icon"
                ><ion-icon name="arrow-back-sharp"></ion-icon></span
              >Back
            </button>
            <button type="button" class="btn_done">Done</button>
          </div>
        </div>
      </div>

      <div class="modal_wrapper">
        <div class="shadow"></div>
        <div class="success_wrap">
          <span class="modal_icon"
            ><ion-icon name="checkmark-sharp"></ion-icon
          ></span>
          <p>You have successfully completed the process.</p>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
